{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idarticle</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Date</th>
                <th>Nbcommentaire</th>
                <th>Iduser</th>
                <th>Nbrlike</th>
                <th>Nbrdislike</th>
                <th>Imagefilename</th>
                <th>Choice</th>
                <th>Accepted</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.idarticle }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.date }}</td>
                <td>{{ article.nbcommentaire }}</td>
                <td>{{ article.iduser }}</td>
                <td>{{ article.nbrlike }}</td>
                <td>{{ article.nbrdislike }}</td>
                <td>{{ article.imagefilename }}</td>
                <td>{{ article.choice }}</td>
                <td>{{ article.accepted ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'idarticle': article.idarticle}) }}">show</a>
                    <a href="{{ path('app_article_edit', {'idarticle': article.idarticle}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_article_new') }}">Create new</a>
{% endblock %}
