{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idarticle</th>
                <td>{{ article.idarticle }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ article.date }}</td>
            </tr>
            <tr>
                <th>Nbcommentaire</th>
                <td>{{ article.nbcommentaire }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ article.iduser }}</td>
            </tr>
            <tr>
                <th>Nbrlike</th>
                <td>{{ article.nbrlike }}</td>
            </tr>
            <tr>
                <th>Nbrdislike</th>
                <td>{{ article.nbrdislike }}</td>
            </tr>
            <tr>
                <th>Imagefilename</th>
                <td>{{ article.imagefilename }}</td>
            </tr>
            <tr>
                <th>Choice</th>
                <td>{{ article.choice }}</td>
            </tr>
            <tr>
                <th>Accepted</th>
                <td>{{ article.accepted ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_article_index') }}">back to list</a>

    <a href="{{ path('app_article_edit', {'idarticle': article.idarticle}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
